section {
    min-height: 100vh;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &.hero {
        position: fixed;
        width: 100%;
        height: 100vh;
        color: black;

        .hero__title-slide-wrapper {
            overflow: hidden;
            position: relative;
        }

        .hero__title {
            font-family: inherit;
            font-style: italic;
            font-size: 10vw;
            font-weight: 400;
            padding: 2rem 4rem;
        }

        .hero__subtitle {
            width: 100%;
            max-width: 60%;
            margin-top: 10px;
            text-align: center;
            margin: 0 auto; // to center
        }

        .hero__arrow {
            height: 60px;
            width: auto;
            position: absolute;
            bottom: 5%;
        }

    }

    &.gallery {
        margin-bottom: 50vh;
        .gallery__image-container, .gallery__text {
            width: 100%;
            max-width: 90%;
        }

        .gallery__text {
            position: absolute;
            top: 0;
            left: -10%;
            mix-blend-mode: difference;
            box-shadow: 0 0 10px 0 rgba(53, 38, 38, 0.76);
            padding: 1rem 2rem;
            h2 {
                color: lightslategrey;
                font-size: 4vw;
            }
        }
    }
}