*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: 'Mazius Review';
    color: #2d2d2d;
    position: relative;

    // For smooth scrolling
    overflow-x: hidden;
    overflow-y: scroll;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 400;
}

h1 {
    font-size: 7.2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.2rem;
}

p {
    font-size: 1.8rem;
}


img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    height: 100%;
}

main {
    // padding-top: 100vh;
    position: relative;
    top: 100vh;
}



// Animation
@keyframes upDown {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(10%)
    }
}

// For Smooth scrolling
.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .scroll-container {  
    position: absolute;  
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;  
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }