@font-face {
    font-family: 'Mazius Review';
    src: url('/assets/fonts/maziusreview-extraitalic.woff2') format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Mazius Review';
    src: url('/assets/fonts/maziusreview-regular.woff2') format('woff2');
}
